<div class="first" >
  <div class="row">
  <div class="col-6 left">Оригинальное название фильма:  <br>
    <span class="badge badge-pill badge-danger">{{film.original_title}}</span><br>
    Название фильма:<br><span class="badge badge-success">{{film.title}}</span><br>
    Дата релиза:  <br>  {{film.release_date}}<br><br>
    Описание фильма:<br>{{film.overview}}<br><br>
    Рейтинг фильма:  <span class="badge badge-warning">{{film.vote_average}}</span><br><br></div>
  <div class="col-6 right">  <img src="https://image.tmdb.org/t/p/w500_and_h282_face{{film.poster_path}}" alt=""></div>

  </div>


</div>
