
<!--&lt;!&ndash;  <div class="sk-circle">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle1 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle2 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle3 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle4 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle5 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle6 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle7 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle8 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle9 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle10 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle11 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="sk-circle12 sk-child"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<div class="container">
  <h1>Gallery</h1>
  <div class="slider">
    <!-- <img [style.opacity]="cur" *ngFor="let item of gallery" src="{{item}}" alt=""> -->
    <img src="{{currentImg}}" alt="">
  </div>
  <div class="btns">
    <button class="btn-dark" (click)="prev()">prev</button>
    <button class="btn-dark" (click)="next()">next</button>
  </div>
  <hr>
  <div class="items">
    <div *ngFor="let item of cards" class="item">
     <img src="{{item.thumbnailUrl}}">
      <h5 class="title">
        {{ item.title }}
      </h5>
<!--      <div class="descr">-->
<!--        <p>-->
<!--          {{ item.text }}-->
<!--        </p>-->
<!--      </div>-->
    </div>
    <!-- item -->
  </div>
</div>
